@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(241, 245, 241);
}
.underline-offset {
  text-underline-offset: 2px; /* Adjust this value as needed */
}

.active{
  color:green
}
